<configuration>
    <property name="LOG_DIR" value="Log" />
    <property name="DEBUG_FILE" value="Debug" />
    <property name="ERROR_FILE" value="Error" />
    <property name="INFO_FILE" value="Info" />
    <property name="TRACE_FILE" value="Trace" />

    <appender name="DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="INFO" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="TRACE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.gmail.serhiisemiv.debug" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUG"/>
    </logger>
    <logger name="com.gmail.serhiisemiv.info" level="INFO" additivity="false">
        <appender-ref ref="INFO"/>
    </logger>
    <logger name="com.gmail.serhiisemiv.error" level="ERROR" additivity="false">
        <appender-ref ref="ERROR" />
    </logger>

    <root level="debug">
        <appender-ref ref="DEBUG" />
    </root>
</configuration>